
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Care Skin</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <form>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Care Skin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                //- <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            //-   </li>
            //-   <li class="nav-item">
            //-     <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            //-   </li>
            //-   <li class="nav-item">
            //-     <a class="nav-link js-scroll-trigger" href="#about">About</a>
            //-   </li>
            //-   <li class="nav-item">
            //-     <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            //-   </li>
            //-   <li class="nav-item">
            //-     <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
  </form>

  <!-- Header -->
  <form>
    <header class="masthead" style = "background-color: #FF7F50">
        <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Care Skin!</div>
            <div class="intro-heading text-uppercase">For your health</div>
            <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" formaction = "/Upload" formmethod ="GET">Dectect your Skin </button>
        </div>
        </div>
    </header>
  </form>





  
</body>

</html>
