
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Care Skin</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top" style = "backgroun-color:#FF7F50">


<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Here are Results</h2>
          <h3 class="section-subheading text-muted">Check your Status</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3>Possible symptoms:</h3>
                  <h4 class="subheading">#{title}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">If you want to know more about please scroll down</p>
                </div>
              </div>
            </li>
        <div class="row">
          <div class="col-lg-12">
            <h4 class="subheading" style = "color:#fed136">Melanoma<h4>
            <h5 class = "subheading" > Melanoma is just one type of skin cancer. It is less common than basal cell and squamous cell skin cancers, but it can be dangerous because it is more likely to spread, or metastasize. Melanomas can develop anywhere on the skin, but certain areas are more prone than others.</h5>
            <h5 class = "subheading"> In men, it is most likely to affect the chest and the back. In women, the legs are the most common site. Other common sites are the neck and face.</h5>

            <h4 class="subheading" style = "color:#fed136">Benign Keratosis<h4>
            <h5 class = "subheading">Seborrheic keratoses are noncancerous (benign) skin growths that some people develop as they age. They often appear on the back or chest, but can occur on any part of the body. Seborrheic keratoses grow slowly, in groups or singly.</h5>
            <h5 class = "subheading"> Most people will develop at least one seborrheic keratosis during their lifetime.</h5>

            <h4 class="subheading" style = "color:#fed136">Basal Cell Carcinoma<h4>
            <h5 class = "subheading">BCC almost never spreads (metastasizes) beyond the original tumor site. Only in exceedingly rare cases can it spread to other parts of the body and become life-threatening.</h5> 
            <h5 class = "subheading">It shouldn’t be taken lightly, though: it can be disfiguring if not treated promptly.</h5>

            <h4 class="subheading" style = "color:#fed136">Actinic Keratoses<h4>
            <h5 class = "subheading">An actinic keratosis (AK), also known as a solar keratosis, is a crusty, scaly growth caused by damage from exposure to ultraviolet (UV) radiation.</h5>
            <h5 class = "subheading">You’ll often see the plural, “keratoses,” because there is seldom just one. AK is considered a precancer because if left alone, it could develop into a skin cancer, most often the second most common form of the disease, squamous cell carcinoma (SCC).</h5>

            <h4 class="subheading" style = "color:#fed136">Vascular skin lesions<h4>
            <h5 class = "subheading">Cutaneous vascular lesions comprise of all skin disease that originate from or affect blood or lymphatic vessels, including malignant or benign tumors, malformations and inflammatory disease.</h5> 
            <h5 class = "subheading">While some vascular lesions are easily diagnosed clinically and dermoscopically, other vascular lesions can be challenging as many of them share similar dermoscopic features. This chapter reviews all vascular lesions for which dermoscopic features were previously described.<h5>

            <h4 class="subheading"style = "color:#fed136">Dermatofibroma<h4>
            <h5 class = "subheading">Dermatofibromas are harmless growths within the skin that usually have a small diameter. They can vary in color, and the color may change over the years.</h5>

            
            //- <li class="timeline-inverted">
            //-   <div class="timeline-image">
            //-     <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
            //-   </div>
            //-   <div class="timeline-panel">
            //-     <div class="timeline-heading">
            //-       <h4>March 2011</h4>
            //-       <h4 class="subheading">An Agency is Born</h4>
            //-     </div>
            //-     <div class="timeline-body">
            //-       <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            //-     </div>
            //-   </div>
            //- </li>
            //- <li>
            //-   <div class="timeline-image">
            //-     <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
            //-   </div>
            //-   <div class="timeline-panel">
            //-     <div class="timeline-heading">
            //-       <h4>December 2012</h4>
            //-       <h4 class="subheading">Transition to Full Service</h4>
            //-     </div>
            //-     <div class="timeline-body">
            //-       <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            //-     </div>
            //-   </div>
            //- </li>
            //- <li class="timeline-inverted">
            //-   <div class="timeline-image">
            //-     <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
            //-   </div>
            //-   <div class="timeline-panel">
            //-     <div class="timeline-heading">
            //-       <h4>July 2014</h4>
            //-       <h4 class="subheading">Phase Two Expansion</h4>
            //-     </div>
            //-     <div class="timeline-body">
            //-       <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            //-     </div>
            //-   </div>
            //- </li>
            //- <li class="timeline-inverted">
            //-   <div class="timeline-image">
            //-     <h4>Be Part
            //-       <br>Of Our
            //-       <br>Story!</h4>
            //-   </div>
            //- </li>
          </ul>
        </div>
      </div>

      <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" formaction = "/gmap" formmethod ="GET">Check Your Hospital </button>
    </div>
</section>

</body>

</html>
